<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Company name</dt>
        <dd>{{ result.model.companyName }}</dd>

        <dt>Contact name</dt>
        <dd>{{ result.model.contactName }}</dd>

        <dt>Contact title</dt>
        <dd>{{ result.model.contactTitle }}</dd>

        <dt>Address</dt>
        <dd>{{ result.model.address }}</dd>

        <dt>City</dt>
        <dd>{{ result.model.city }}</dd>

        <dt>Region</dt>
        <dd>{{ result.model.region }}</dd>

        <dt>Postal code</dt>
        <dd>{{ result.model.postalCode }}</dd>

        <dt>Country</dt>
        <dd>{{ result.model.country }}</dd>

        <dt>Phone</dt>
        <dd>{{ result.model.phone }}</dd>

        <dt>Fax</dt>
        <dd>{{ result.model.fax }}</dd>
    </dl>
</div>

<p>
    <a ng-click="edit(result.model)">Edit</a>
    <a ng-click="cancel()">Cancel</a>
</p>
