<h2>Customers</h2>

<div class="alert alert-danger" role="alert" ng-show="vm.result.didError">
    {{ vm.result.errorMessage }}
</div>

<p>
    <a ng-click="vm.create()">Create new</a>
</p>

<br />

<table ng-table="vm.tableParams" class="table">
    <tr ng-repeat="customer in $data">
        <td data-title="'Company name'" sortable="'companyName'">
            {{ customer.companyName }}
        </td>
        <td data-title="'Contact name'" sortable="'contactName'">
            {{ customer.contactName }}
        </td>
        <td data-title="'Country'" sortable="'country'">
            {{ customer.country }}
        </td>
        <td data-title="'City'" sortable="'city'">
            {{ customer.city }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="vm.edit(customer)">Edit</a></li>
                    <li><a ng-click="vm.details(customer)">Details</a></li>
                    <li><a ng-click="vm.delete(customer)">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
