<h2>Regions</h2>

<div class="alert alert-danger" role="alert" ng-show="vm.result.didError">
    {{ vm.result.errorMessage }}
</div>

<p>
    <a ng-click="vm.create()">Create new</a>
</p>

<br />

<table ng-table="vm.tableParams" class="table">
    <tr ng-repeat="region in $data">
        <td data-title="'Description'" sortable="'regionDescription'">
            {{ region.regionDescription }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="vm.edit(region)">Edit</a></li>
                    <li><a ng-click="vm.details(region)">Details</a></li>
                    <li><a ng-click="vm.delete(region)">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
