<h2>{{ vm.translation.delete }}</h2>

<h3>{{ vm.translation.deleteConfirmation }}</h3>

<div>
    <h4>{{ vm.translation.shipper }}</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>{{ vm.translation.companyName }}</dt>
        <dd>{{ vm.model.companyName }}</dd>

        <dt>{{ vm.translation.phone }}</dt>
        <dd>{{ vm.model.phone }}</dd>
    </dl>

    <div class="form-actions no-color">
        <a ng-click="vm.delete(model.shipperID)" class="btn btn-default">{{ vm.translation.delete }}</a>
        <a ng-click="vm.cancel()" class="btn btn-small">{{ vm.translation.cancel }}</a>
    </div>
</div>
