<h2>{{ translation.shippers }}</h2>

<div class="alert alert-danger" role="alert" ng-show="result.didError">
    {{ result.errorMessage }}
</div>

<p>
    <a ng-click="create()">{{ translation.createNew }}</a>
</p>

<br />

<table ng-table="tableParams" class="table">
    <tr ng-repeat="shipper in $data">
        <td data-title="translation.companyName" sortable="'companyName'">
            {{ shipper.companyName }}
        </td>
        <td data-title="translation.phone" sortable="'phone'">
            {{ shipper.phone }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="edit(shipper.shipperID)">{{ translation.edit }}</a></li>
                    <li><a ng-click="details(shipper.shipperID)">{{ translation.details }}</a></li>
                    <li><a ng-click="delete(shipper.shipperID)">{{ translation.delete }}</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
