<div>
    <h3>Products list</h3>

    <table class="table table-hover">
        <tr>
            <th>Product name</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Unit price</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{ product.productName }}</td>
            <td>{{ product.companyName }}</td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.unitPrice | currency }}</td>
        </tr>
    </table>
</div>
