<h2>Orders</h2>

<div class="alert alert-danger" role="alert" ng-show="result.didError">
    {{ result.errorMessage }}
</div>

<p>
    <a ng-click="create()">Create new</a>
</p>

<br />

<table class="table" ng-table="tableParams">
    <tr ng-repeat="order in $data">
        <td data-title="'Order #'" sortable="'orderID'">
            {{ order.orderID }}
        </td>
        <td data-title="'Date'" sortable="'orderDate'">
            {{ order.orderDate | date: "dd/MM/yyyy" }}
        </td>
        <td data-title="'Customer'" sortable="'customer'">
            {{ order.customer }}
        </td>
        <td data-title="'Shipper'" sortable="'shipper'">
            {{ order.shipper }}
        </td>
        <td class="text-right" data-title="'Lines'" sortable="'lines'">
            {{ order.lines }}
        </td>
        <td class="text-right" data-title="'Total'" sortable="'total'">
            {{ order.total | currency }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="edit(order)">Edit</a></li>
                    <li><a ng-click="details(order)">Details</a></li>
                    <li><a ng-click="delete(order)">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
