<h2>Orders</h2>

<div class="alert alert-danger" role="alert" ng-show="result.didError">
    {{ result.errorMessage }}
</div>

<p>
    <a ng-click="create()">Create new</a>
</p>

<br />

<table ng-table="tableParams" class="table">
    <tr ng-repeat="order in $data">
        <td data-title="'Order #'" sortable="'orderID'">
            {{ order.orderID }}
        </td>
        <td data-title="'Customer'" sortable="'customerID'">
            {{ order.customerID }}
        </td>
        <td data-title="'Date'" sortable="'orderDate'">
            {{ order.orderDate }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="edit(product.productID)">Edit</a></li>
                    <li><a ng-click="details(product.productID)">Details</a></li>
                    <li><a ng-click="delete(product.productID)">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
