<h2>{{ translation.edit }}</h2>

<form name="form" novalidate ng-submit="update()">
    <div class="form-horizontal">
        <h4>{{ translation.shipper }}</h4>

        <hr />

        <div class="form-group" ng-class="{ 'has-error': form.companyName.$invalid }">
            <label for="companyName" class="control-label col-md-2">{{ translation.companyName }}</label>
            <div class="col-md-10">
                <input type="text" name="companyName" class="form-control" required ng-model="result.model.companyName" ng-maxlength="80" />
                <span class="text-danger help-block" ng-show="form.companyName.$error.required">{{ translation.required }}</span>
                <span class="text-danger help-block" ng-show="form.companyName.$error.maxlength">{{ translation.companyNameMaxLength }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="control-label col-md-2">{{ translation.phone }}</label>
            <div class="col-md-10">
                <input type="text" name="phone" class="form-control" ng-model="result.model.phone" ng-maxlength="48" />
                <span class="text-danger help-block" ng-show="form.companyName.$error.maxlength">{{ translation.phoneMaxLength }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="{{ translation.save }}" ng-disabled="!form.$valid" class="btn btn-default" />
                <a ng-click="cancel()">{{ translation.cancel }}</a>
            </div>
        </div>
    </div>
</form>
