<h2>Edit</h2>

<form name="form" novalidate ng-submit="update()">
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />

        <div class="form-group" ng-class="{ 'has-error': form.companyName.$invalid }">
            <label for="companyName" class="control-label col-md-2">Company name</label>
            <div class="col-md-10">
                <input type="text" name="companyName" ng-model="result.model.companyName" required class="form-control" />
                <span class="text-danger help-block" ng-show="form.companyName.$error.required">(*) Required</span>
            </div>
        </div>

        <div class="form-group">
            <label for="contactName" class="control-label col-md-2">Contact name</label>
            <div class="col-md-10">
                <input type="text" name="contactName" ng-model="result.model.contactName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="contactTitle" class="control-label col-md-2">Contact title</label>
            <div class="col-md-10">
                <input type="text" name="contactTitle" ng-model="result.model.contactTitle" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                <textarea name="address" ng-model="result.model.address" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="control-label col-md-2">City</label>
            <div class="col-md-10">
                <input type="text" name="city" ng-model="result.model.city" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="region" class="control-label col-md-2">Region</label>
            <div class="col-md-10">
                <input type="text" name="region" ng-model="result.model.region" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="postalCode" class="control-label col-md-2">Postal code</label>
            <div class="col-md-10">
                <input type="text" name="postalCode" ng-model="result.model.postalCode" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="country" class="control-label col-md-2">Country</label>
            <div class="col-md-10">
                <input type="text" name="country" ng-model="result.model.country" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="control-label col-md-2">Phone</label>
            <div class="col-md-10">
                <input type="tel" name="phone" ng-model="result.model.phone" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label for="fax" class="control-label col-md-2">Fax</label>
            <div class="col-md-10">
                <input type="tel" name="fax" ng-model="result.model.fax" class="form-control" />
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-disabled="!form.$valid" class="btn btn-default" />
                <a ng-click="cancel()">Cancel</a>
            </div>
        </div>
    </div>
</form>
